.bar:hover {
  fill: green;
}

div#tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: fit-content;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#title {
  text-align: center;
  font-family: 'Book Antiqua', sans-serif;
}
